.notFound {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.notFoundTitle {
  font-size: 54px;
  color: rgb(116, 135, 201);
}

.notFoundLink {
  font-size: 22px;
  color: red;
}

.notFoundLink:hover {
  color: lime;
}
