.filter__title {
  font-size: 18px;
  margin-top: 40px;
}

.filter__input {
  margin-top: 5px;
  font-size: 18px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: 2px solid rgb(19, 150, 232);
  border-radius: 4px;
  outline: none;
  color: rgb(165, 160, 160);
  cursor: pointer;
}

.filter__input:focus {
  border: 2px solid rgb(141, 194, 17);
}

.filter {
  display: flex;
}
