.header {
  background-color: blue;
  padding: 20px;
  box-shadow: 5px 5px 15px rgba(199, 55, 55, 0.753);
}

.headerList {
  display: flex;
  gap: 40px;
}

.headerLink {
  font-size: 22px;
  text-decoration: none;
  color: aliceblue;
  transition: all 250ms;
  border-radius: 12px;
  transition: all 250ms;
}

.headerLink:hover {
  transform: scale(1.1);
  box-shadow: 10px 15px 5px rgba(86, 84, 84, 0.56);
}
