@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* max-width: 1440px; */
  background-color: rgba(5, 86, 35, 0.5);
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.9),
      rgba(47, 48, 58, 0.9)
    ),
    url('https://c8.alamy.com/comp/2CAG0XG/address-phone-book-icon-in-flat-style-telephone-notebook-vector-illustration-on-white-isolated-background-hotline-contact-seamless-pattern-business-2CAG0XG.jpg');
    background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  font-weight: 700;
  box-shadow: 0 5px 0 rgb(141, 194, 17); 
}
