.contact__item {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: rgb(40, 185, 185);
}

ul {
  padding: 0;
}

.delete__btn {
  width: 80px;
  font-size: 16px;
  font-weight: 600;
  padding: 4px;
  background-color: rgb(226, 88, 64);
  border-radius: 14px;
  transition: all 250ms;
  cursor: pointer;
}

.delete__btn:hover {
  transform: scale(1.1);
  box-shadow: 10px 15px 5px rgba(86, 84, 84, 0.56);
}

.tag {
  font-size: 24px;
  font-weight: 600;
  color: rgb(116, 135, 201);
}
