.contactForm {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 20px;
}

.contactList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__loader {
  display: flex;
  gap: 40px;
}