.registrationForm {
  width: 500px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  /* border: 2px solid grey; */
  border-radius: 12px;
  margin: 0 auto;
  align-items: center;
  padding: 30px;
  background-color: rgba(91, 129, 162, 0.599);
  margin-top: 60px;
  margin-bottom: 60px;
  box-shadow: 5px 5px 15px rgba(199, 55, 55, 0.753);
}

.registrationFormLabel {
  display: flex;
  gap: 10px;
  flex-direction: column;
  
}

.registrationFormInput {
  padding: 4px;
  font-size: 18px;
  width: 400px;
  display: flex;
  background-color: transparent;
  border: 2px solid rgb(116, 135, 201);
  border-radius: 4px;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.registrationFormBtn {
  width: 200px;
  font-weight: 600;
  padding: 6px;
  background-color: rgb(109, 109, 223);
  border-radius: 14px;
  transition: all 250ms;
  cursor: pointer;
}

.registrationFormBtn:hover {
  transform: scale(1.1);
  color: lime;
  box-shadow: 10px 15px 5px rgba(86, 84, 84, 0.56);
}
