.registrationForm {
  width: 500px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  border-radius: 12px;
  margin: 0 auto;
  align-items: center;
  padding: 40px;
  background-color: rgba(29, 39, 71, 0.599);
  margin-top: 60px;
  margin-bottom: 60px;
  box-shadow: 5px 5px 15px rgba(218, 207, 207, 0.753),
    -5px -5px 15px rgba(218, 207, 207, 0.753),
    -5px 5px 15px rgba(218, 207, 207, 0.753),
    5px -5px 15px rgba(218, 207, 207, 0.753);
}

.registrationFormLabel {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.registrationFormInput {
  padding: 4px;
  font-size: 18px;
  width: 400px;
  display: flex;
  background-color: transparent;
  border: 2px solid rgb(19, 150, 232);
  border-radius: 4px;
  color: rgb(165, 160, 160);
  outline: none;
  cursor: pointer;
}

.registrationFormInput:focus {
  border: 2px solid rgb(141, 194, 17);
}

.registrationFormBtn {
  font-size: 16px;
  font-weight: 600;
  padding: 8px 42px;
  background-color: rgb(19, 150, 232);
  border: none;
  border-radius: 12px;
  transition: all 250ms;
  cursor: pointer;
}

.registrationFormBtn:hover {
  transform: scale(1.1);
  color: rgb(141, 194, 17);
  box-shadow: 5px 5px 15px rgba(218, 207, 207, 0.753);
}
